.node {
  aspect-ratio: 1/1;
  height: var(--diameter, 8px);
  border-radius: var(--diameter);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.node2 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.node label {
  position: absolute;
  left: 15px;
  top: 50%;
  translate: 0 -50%;
  width: max-content;
}
